<% layout('../layout/default.ejs') %>

<div id="navbar">
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">Quiz</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="menu">
                    <li><a href="#user">Users</a></li>
                    <li><a href="#category">Categories</a></li>
                    <li><a href="#question">Questions</a></li>
                    <li><a href="#settings">Settings</a></li>
                </ul>
                <a href="/admin/tv" target="_blank" class="btn btn-primary navbar-btn">1. TV Screen</a>
                <a href="/admin/game" target="_blank" class="btn btn-primary navbar-btn">2. Host Screen</a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">You&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#profile">Profile</a></li>-->
                            <!--<li class="divider"></li>-->
                            <li><a href="/admin/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="content"></div>
    </div>
  </div>
</div>

<% script('/js/app.admin.js') %>