<h1>Sandvik</h1>

<p>Thank you for participating in <strong>Sandvik Metal Cutting Driving Test</strong>.</p>

<p>You can get your Metal Cutting Driver's License here:</p>

<p><a href="<%- licenseUrl %>"><%- licenseUrl %></a></p>