
<div class="row" style="margin-bottom: 75px;">
	<div class="col-xs-8 col-xs-offset-2">

		<div class="centered">
			<span class="logo" style="display: inline-block;"></span><br />
			<h1 style="margin-top: 30px; margin-bottom: 20px; font-size: 2.5em;">
				<%- polyglot.t("The more you know") %>
				<br />
				<strong>
					<%- polyglot.t("The more time you save") %>
				</strong>
			</h1>
			<h2 class="text-blink-white" style="font-size: 2em;">
				<%- polyglot.t("Waiting for players") %>
			</h2>
		</div>
	</div>
</div>

<!-- User list -->
<div class="row">
	<div class="col-sm-12">
		<div class="players-row"></div>
	</div>
</div>

