<header style="background-position: top left;">
	<h1 style="text-align: left; font-size: 2em; line-height: 1.1em;">
		<%- polyglot.t("The more you know") %>
		<br />
		<strong>
			<%- polyglot.t("The more time you save") %>
		</strong>
	</h1>
</header>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<h1 style="margin-top: 60px; font-size: 2.5em;" class="centered">
			<%- polyglot.t("What do you know") %>
			<br />
			<%- polyglot.t("about metalcutting?") %>
			<br />
			<strong>
				<%- polyglot.t("Take the test!") %>
			</strong>
		</h1>
	</div>
</div>