<div class="col-xs-12 col-panel">
    <div class="panel panel-<%= type %>">
        <% if (header || title) { %>
        <div class="panel-heading">
            <% if (title) { %>
            <h3 class="panel-title"><%= title %></h3>
            <% } else { %>
            <%= header %>
            <% } %>
        </div>
        <% } %>
        <div class="panel-body"><%= body %></div>
        <% if (footer) { %>
        <div class="panel-footer"><%= footer %></div>
        <% } %>
    </div>
</div>