<div class="row">
    <div class="col-xs-8 col-xs-offset-2 centered">
		<span class="logo" style="display: inline-block;"></span>
		<h3 style="margin-top: 10px; margin-bottom: 35px; font-size: 0.85em;">
			<%- polyglot.t("The more you know") %>
			<br />
			<strong>
				<%- polyglot.t("The more time you save") %>
			</strong>
		</h3>

		<h1 style="font-size: 2.5em; color: #9c9c9c; margin-bottom: 26px;">
			<%- polyglot.t("What do you know") %>
			<br/>
			<%- polyglot.t("about metalcutting?") %>
		</h1>

		<h2 style="font-weight: 200; margin-bottom: 40px; margin-top: 0px; font-size: 2.1em;">
			<%- polyglot.t("Take the test") %>
		</h2>

		<a href="#sign_up" class="btn-orange">
			<%- polyglot.t("Play Now!") %>
		</a>
    </div>
</div>