<div class="row">
    <div class="col-xs-12 panel-wrapper" style="position: absolute; top: 50%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                <%- polyglot.t("Select Game") %>
                </h3>
            </div>
            <div class="panel-body">
                <form role="form" class="select-game-from">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="[user name]">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="[game id]">
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 100%">
                        <%- polyglot.t("Log In") %>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>